[Desktop Entry]

Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=MP3 Downloader

# The executable of the application, possibly with arguments.
Exec=.local/bin/dlpgui mp3

# The name of the icon that will be used to display this entry
Icon=/usr/share/icons/dlpgui/dlpgui_mp3.png

# Describes whether this application needs to be run in a terminal or not
Terminal=false
